body{
  background-color:lightblue;
}


#sandbox{
  font-family:"goudy-bookletter-1911-1","goudy-bookletter-1911-2","Baskerville","Georgia",serif;
  /*Borde con alpha 0.2*/
  border:solid 3px rgba(21,11,11,0.2);
  margin:40px 0 0 30px;
  padding:20px;
  width:440px;
  overflow:hidden;
  z-index:2;
  color:black;
  font-size:16px;
  background-color:rgba(180,180,144,0.9);
  /*Bordes redondeados*/
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  -o-border-radius:15px;
  border-radius: 15px;
  /*Sombra de bordes*/
  -moz-box-shadow:0 0 20px 0 #FFF;
  -webkit-box-shadow:0 0 20px 0 #FFF;
  -o-box-shadow:0 0 20px 0 #FFF;
  box-shadow:0 0 20px 0 #FFF;
}

#sandbox h1{
  margin:0 0 20px 0;
  font-size:56px;
  word-spacing:2px;
  /*Transparencia de las letras 0.6*/
  color:rgba(0,0,0,0.6);
}

#sandbox h1 abbr{
  cursor:help;
  font-size:1.3em;
  color: #ff2166;
  /*Subrayado punteado*/
  border-bottom: dotted 1px #333;
  /*Sombra de las letras de la abbr*/
  -moz-text-shadow:0 0 1px blue;
  -webkit-text-shadow:0 0 1px blue;
  -o-text-shadow:0 0 1px blue;
  text-shadow:0 0 1px blue;
}

#sandbox p{
  font-size:30px;
  height:50px;
  width:auto;
}

#sandbox:hover h1{
  /*text-align:center;*/
  color: white;
}



